/* basic reset */
	* { margin: 0; padding: 0; }
	h1, h2, h3, h4, h5, h6, p, ul, ol, pre, blockquote, cite, table { margin-bottom: 0.8em; }
	ul, ol, li { margin-left: 0.5em; }




.container{
	position: relative;
	width: 980px;
	margin: 0 auto;
}

.container h1{
	text-align: center;
	font-family: 'Helvetica';
	padding: 100px 0 0 0;
}

button{
	display: block;
	position: relative;
	top: 50px;
	width: 105px;
	height: 35px;
	margin: 0 auto;
	background-color: #96c546;
	text-transform: uppercase;
	color: white;
	letter-spacing: 1px;
}

#gamebox{
	position: relative;
	top: 100px;
	width: 600px;
	height: 110px;
	margin: 0 auto;
	border: 2px solid #F3BD00;
}

#prompts{
	position: relative;
	top: 50px;
	text-align: center;
	font-family: Helvetica;
}